# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.coverage*
htmlcov/
.pyre/
.dmypy.json

# Venv
.venv/
venv/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Secrets / env
.env
.env.*.local